// _content.scss
ihome-app {

    // Content
    .mat-sidenav-content {
        padding: 38px 30px 0 30px;

        .mat-card {
            margin-bottom: 10px;

            &.school-menu-card {
                .mat-card-header {
                    
                }
            }
        }

        .mat-grid-tile {
            .mat-figure {
                align-items: normal;

                .mat-card {
                    margin: 5%;
                    padding: 0;

                    .card-image-header {
                        position: relative;
                        background-size: cover;
                        background-position: bottom;
                        background-repeat: no-repat;
                        width: 100%;
                    }
                }
            }
        }
    }
}
