// _content.scss
ihome-app {

    // Content
    .content {
        .mat-grid-tile {
            .mat-figure {
                align-items: normal;

                .mat-card {
                    margin: 5%;
                    padding: 0;

                    .card-image-header {
                        position: relative;
                        background-size: cover;
                        background-position: bottom;
                        background-repeat: no-repat;
                        width: 100%;
                    }
                }
            }
        }
    }
}
