// Material Design
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Theming functionalities
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import
@import '../styles/colors';
@import '../styles/mat-theme';
/*@import '../styles/mixins';
@import '../styles/navbar';
@import '../styles/sidebar';*/
@import '../styles/header';
@import '../styles/content';

// Font Variables
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

body,
html {
  min-height: 100%;
  height: 100%;
  padding: 0;
  width: 100%;
  font-family: $roboto;
}

body {
  background-color: $background-color;
  
  // specify theme class eg: <body class="my-theme"> ... </body>
  &.my-theme {
    // use our theme with angular-material-theme mixin
    @include angular-material-theme($my-theme);
  }
}