<!--
  http://wrapbootstrap.com/preview/WB0L7L747

  http://byrushan.com/projects/material-admin/app/2.1/angular4/#/home
  -->


<mat-toolbar color="primary" class="header">
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="icon">
    <span>IHome</span>
  </div>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav"
    [fixedInViewport]="true" 
    [fixedTopGap]="0"
    [fixedBottomGap]="0">

    <mat-card class="user_info">
      <img class="avatar" alt="" src="../images/avatar/avatar_8.jpg">
      <div class="ng-tns-c1-0">  
          <div class="name">Gaetan LEBRETON</div>
          <div class="email">lebreton.gaetan@gmail.com</div>
      </div>
    </mat-card>

  </mat-sidenav>

  <mat-sidenav-content>
    <section class="content_cards">
      <div class="container"
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="33%">
          <!--<button mat-button (click)="sidenav.toggle()">Toggle</button>-->
          <menucard></menucard>
        </div>
        <div class="item item-2" fxFlex="33%"></div>
        <div class="item item-3" fxFlex></div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>