<div class="sidebar-info" [ngClass]="{'active': isActivePrintSidebar }">
  <div class="collapse-link">
    <a (click)="isActivePrintSidebar = !isActivePrintSidebar;">
      <i class="material-icons" *ngIf="!isActivePrintSidebar">chevron_right</i>
      <i class="material-icons" *ngIf="isActivePrintSidebar">chevron_left</i>
    </a>
  </div>
  <div class="info">
    <button type="button" (click)="printPdf()" class="btn btn-default btn-print">
      <span>Print your study</span>
      <i class="material-icons" *ngIf="isActivePrintSidebar">print</i>
    </button>

    <div class="contacts">
      <div class="contact">
        <a class="link" (click)="isActivePrintSidebar = false;"><i class="material-icons">phone_in_talk</i></a>
        <i class="icon material-icons">phone_in_talk</i>
        <h4>Call an energy advisor</h4>
        <span class="num">09 69 32 34 35</span>
        <span class="notax">No additional charge</span>
      </div>

      <div class="contact" (click)="isActivePrintSidebar = false;">
        <a class="link"><i class="material-icons">person</i></a>
        <i class="icon material-icons">person</i>
        <h4>Call an ENGIE advisor</h4>
        <span class="num">09 69 399 993</span>
        <p>Monday to Friday from 09:00 to 20:00 and Saturday from 09:00 to 13:00</p>
        <span class="notax">No additional charge</span>
      </div>
    </div>
  </div>
</div>

<div class="study-content" [ngClass]="{'active': isActivePrintSidebar }">
  <div class="study-header">
      <ul class="links">
        <li>
          <span class="info" *ngIf="study">
            <label>Date :</label> {{study.validationDate}}
          </span>
        </li>
        <li>
          <span class="info" *ngIf="study">
            <label>Ref :</label> {{study.id}}
          </span>
        </li>
        <li><button class="status" type="button"><span>Available</span></button></li>
        <li><a class="print" href="#"><i class="material-icons">print</i></a></li>
      </ul>
      <h2>Your study</h2>
  </div>

  <div class="study-info">
    <div class="col-md-6 form">
      <div class="form-label" *ngIf="client">
        <i class="material-icons">person</i>
        <label>Name</label>
        <span>{{client.firstname}} {{client.lastname}}</span>
      </div>

      <div class="form-label" *ngIf="client">
        <i class="material-icons">location_on</i>
        <label>Address</label>
        <span>{{client.address.number}} {{client.address.street}}, {{client.address.postcode}} {{client.address.city}}</span>
      </div>

      <div class="form-label" *ngIf="client">
        <i class="material-icons">home</i>
        <label>Living area</label>
        <span>...</span>
      </div>
    </div>
    <div class="col-md-6 map">
      <div id="clientMap" class="bing-map">
        <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="layers"></div>
      </div>
    </div>
    <div class="clearleft"></div>
  </div>

  <div class="study-calcul">
    <div class="col-md-8 circles">
      <div class="circle-electricity circle col-md-4">
        <span class="center-block">
          <ul>
            <li class="percentage">58%</li>
            <li>Energy consumption<br/>reduction</li>
            <li class="consumption">2163 kWh</li>
          </ul>
        </span>
      </div>
      <div class="circle-gaz circle col-md-4">
        <span class="center-block">
          <ul>
            <li class="percentage">4%</li>
            <li>Gas consumption<br/>reduction</li>
            <li class="consumption">87 m3</li>
          </ul>
        </span>
      </div>
      <div class="circle-co2 circle col-md-4">
        <span class="center-block">
          <ul>
            <li class="percentage">22%</li>
            <li>CO2 emission<br/>reduction</li>
            <li class="consumption">1293 kg CO2</li>
          </ul>
        </span>
      </div>
      <div class="clearleft"></div>
      <div class="energy-index">
        <div class="center-block visual visual-cb">
          Your energy index varies between C and B
        </div>
      </div>
    </div>
    <div class="col-md-4 benefit">
      <ul>
        <li>
          <div class="form-label investment" *ngIf="client">
            <i class="material-icons">euro_symbol</i>
            <label>3596 euros</label>
            <span>Project cost</span>
          </div>
        </li>
        <li>
          <div class="form-label reduction" *ngIf="client">
            <i class="material-icons">call_received</i>
            <label>490 euros</label>
            <span>22 % reduction in our energy invoice</span>
          </div>
        </li>
        <li>
          <div class="form-label damping" *ngIf="client">
            <i class="material-icons">date_range</i>
            <label>6 / 8 années</label>
            <span>Damping times</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearleft"></div>
  </div>

  <div class="study-solar-panel">
    <div class="header">
      <h3><span>Solar</span> panels</h3>
    </div>
    <div class="col-md-6 description">
      <div class="form-label" *ngIf="solarpanel">
        <i class="material-icons">crop_3_2</i>
        <label>Reference</label>
        <span>{{ solarpanel.name }}</span>
      </div>

      <div class="form-label" *ngIf="solarpanel">
        <i class="material-icons">aspect_ratio</i>
        <label>Size</label>
        <span>Width : {{ solarpanel.width }}mm</span>
        <span>Length: : {{ solarpanel.length }}mm</span>
      </div>

      <div class="form-label" *ngIf="solarpanel">
        <i class="material-icons">flash_on</i>
        <label>Efficiency</label>
        <span>{{ solarpanel.efficiency }} Wc</span>
      </div>

      <div class="form-label" *ngIf="solarpanel">
        <i class="material-icons">gps_not_fixed</i>
        <label>Location</label>
        <span>X: {{ solarpanel.location.x }}     Y: {{ solarpanel.location.y }}      Z: {{ solarpanel.location.z }}</span>
      </div>

      <div class="form-label" *ngIf="solarpanel">
        <i class="material-icons">explore</i>
        <label>Orientation</label>
        <span>X: {{ solarpanel.normal.x }}     Y: {{ solarpanel.normal.y }}      Z: {{ solarpanel.normal.z }}</span>
      </div>
    </div>
    <div class="col-md-6 photos">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <i class="material-icons">3d_rotation</i>3D View
          </a>
        </li>
        <li role="presentation">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            <i class="material-icons">photo_size_select_actual</i>Snapshots
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <threeviewer *ngIf="study" [study]="study"></threeviewer>
          <div class="threed-overlay"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          Snapshots
        </div>
      </div>
    </div>
  </div>
</div>
