<mat-card class="school-menu-card">
    <mat-card-header>
      <mat-card-title>Menu de la semaine {{ menucard.weekNumber }}</mat-card-title>
      <mat-card-subtitle>Ecole de Saint Jean sur Vilaine</mat-card-subtitle>
      <button mat-fab class="btn-float">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p>Semaine du .. au .. décembre 2017</p>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>